.monthHeader{
	padding: 0px 45% 0px 45%;
	font-weight: bold;
}

.invalidday{

	background-color: gray;
}

.weekday{

	background-color: green;
}

.weekend{

	background-color: yellow;
}

.holiday{

	background-color: orange;	
}

body {
    margin-top: 30px;
}

#calendarControls{

	padding: 20px 0px 0px 0px;
}

.calendar{

	padding: 20px 0px 0px 0px;	
}

#leftBtn{

	float: left;
}
#rightBtn{

	float: right;
}